.tek{
    background-color: red;
    height: 10PX;
    width: 100%;
}

.headr{
    position: relative;
    height: 25px;
    
    text-align: center;
    text-transform: capitalize;
    /* font-family: sans-serif; */
    font-family:Comic Sans MS, cursive, sans-serif;
    font-size: 30px;
    color: whitesmoke;
}

app-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top:50px;
}
